* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  width: 960px;
  border: 1px;
  margin: auto;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}