* {
  font-family: 'Courier New', Courier, monospace;
}

header {
  padding: 5px;

}

body {
  width: 800px;
  border: 1px;
  margin: auto;
}

img.resize {
  max-width: 50%;
  max-height: 50%;
}

img {
  float: left;
  margin-right: 15px;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

ol {
  list-style-type: square;
  list-style-position: inside;
}